{% extends 'home/base.html' %} {% load static %} {% block content %}
<br>
<h3 class="life-header">I enjoy traveling to new places and experiencing the culture!</h3>
<br>
<div class="life-container">
    <h3 class="life-description" style="right: 15%;">Hawaii<br>Feb 2022</h3>
    <div id="carousel-0" class="carousel slide" data-bs-ride="carousel" style="width:50%; left: 10%; position: absolute">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-0" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel-0" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel-0" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carousel-0" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'home/images/olomana.jpg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/lanikai.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/pink_pillbox.jpg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/boat.jpg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-0" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-0" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br>
<div class="life-container">
    <h3 class="life-description" style="margin-left: 15%;">Peru<br>Jan 2020</h3>
    <div id="carousel-1" class="carousel slide" data-bs-ride="carousel" style="width:50%; right: 10%; position: absolute">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'home/images/alpaca.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/vicuna.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/condor.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/condor2.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/peru_bird.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br>
<div class="life-container">
    <h3 class="life-description" style="right: 12%;">Costa Rica<br>Aug 2019</h3>
    <div class="carousel slide" id="carousel-2" data-bs-ride="carousel" style="width:50%; left: 10%; position: absolute">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="7" aria-label="Slide 8"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'home/images/cloud_forest.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/toucan.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/basilisk.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/oropendola.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/peru_bird.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/black_bird.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/hummingbird.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/small_iguana.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-2" data-bs-slide="prev" href="#carousel-2">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-2" data-bs-slide="next" href="#carousel-2">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br>
<div class="life-container">
    <h3 class="life-description" style="margin-left: 15%;">Ecuador<br>Dec 2018</h3>
    <div id="carousel-3" class="carousel slide" data-bs-ride="carousel" style="width:50%; right: 10%; position: absolute">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel-3" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel-3" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carousel-3" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carousel-3" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'home/images/blue_footed_boobi.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/iguana.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/butterfly.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/tortoise.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
            <div class="carousel-item">
                <img src="{% static 'home/images/cotopaxi.jpeg'%}" class="d-block w-100" alt="..." style="border-radius: 15px;">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-3" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-3" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br> {% endblock %}