.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

h1,
h3,
.summary {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.resume-header {
    text-align: "left";
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 2%;
}

.bullet-points {
    text-align: "left";
    padding-left: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bullet-points li {
    background: url('../images/linux.png');
    background-repeat: no-repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
    list-style: none;
    padding-left: 30px;
}

.skill-icon {
    width: 40px;
    height: 40px;
    vertical-align: top;
}

.experience-detail,
.notable-projects {
    padding-left: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.point-date {
    float: right;
    padding-right: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #969696;
}

a {
    position: relative;
    display: inline;
}

a .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: -80px;
    left: -80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

a:hover .tooltiptext {
    visibility: visible;
}

hr {
    width: 98%;
    margin: 0 auto !important;
}

.carousel-item,
.carousel-inner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    text-align: middle;
    border-radius: 15px;
}

#wrapper {
    width: 50%;
    height: 0;
    overflow: hidden;
}

.image-container {
    width: 50%;
    position: absolute;
    cursor: pointer;
}

.image-container img {
    width: 100%;
    position: absolute;
}

.image-caption {
    width: 100%;
    padding-bottom: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    opacity: 0;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}

.image-caption h1 {
    width: 100%;
    padding: 45px 0px 5px 0px;
    position: absolute;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #00bfb6;
}

.image-container:hover .image-caption {
    opacity: 1;
}

div.life-container {
    height: 50%;
    padding-bottom: 50%;
    width: 100%;
    position: relative;
}

.life-header {
    width: 100%;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    vertical-align: middle;
}

.life-description {
    position: absolute;
    vertical-align: middle;
    top: 45%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.life-pic {
    border-radius: 15px;
    width: 50%;
    position: absolute;
}